<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="net.logstash.logback.encoder.LogstashEncoder">
            <timeZone>UTC</timeZone>
            <fieldNames>
                <levelValue>[ignore]</levelValue>
                <version>[ignore]</version>
            </fieldNames>
            <lineSeparator>UNIX</lineSeparator>
        </encoder>
    </appender>

    <appender name="async-appender" class="ch.qos.logback.classic.AsyncAppender">
        <appender-ref ref="consoleAppender" />
    </appender>

    <logger name="com.appgate" level="debug"/>

    <root level="info">
        <appender-ref ref="consoleAppender"/>
    </root>

</configuration>
